.App {
  text-align: center;
}

.header {
  font-size: 5vh;
  position: sticky;
  top: 0;
  background-color: #323c50;
  color: #fb667a;
  margin: 0;
  padding: 5px;
}

body {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat";
}

#root {
  width: 100%;
}
